/* roboto */ @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* inter */  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* arimo */ @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-display: swap;
    line-height: 24px;
    letter-spacing: .6px;
}

body {
    background: #ffffff;
}

/*exam-box*/
section {
    padding: 1.2rem;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exam-box {
    background: #f8f8fa;
    max-width: 480px;
    margin: 4rem auto auto;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.exam-box .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #323232;
    padding: .5rem 0 1rem;
    border-bottom: 1px solid #323232;
}
.exam #question {
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 1rem 0;
    line-height: 24px;
    color: #323232;
}
.btn {
    font-family: 'inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background: #ffffff;
    border: 0;
    color: #323232;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    margin: .25rem 0;
    padding: .5rem .75rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.btn:hover:not([disabled]) {
    background: #5086e0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: ease .25s;
}
.btn:disabled {
    cursor: default;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: .5rem;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
th {
    background-color: #f2f2f2;
    font-size: 18px;
}
.match-box {
    margin: auto;
    width: 24rem;
}
.match-stick {
    width: 3rem; 
}

.gif {
    border-radius: 6px;
    display: none;
    margin: auto;
}

#next-btn,
#home-btn {
    background: #007bff;
    color: #ffffff;
    margin: 1rem auto 0;
    padding: .5rem 2rem;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
#next-btn:hover,
#home-btn:hover {
    background: #5086e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    transition: ease .25s;
}

.correct {
    background: #9aeabc;
    transition: ease .25s;
}
.incorrect {
    background: #ff9393;
    transition: ease .25s;
}

/* footer */
footer {
    border-top: .5px solid #cecece;
    background: rgba(255, 255, 255, .85);
    backdrop-filter: blur(24px);
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    animation: zero-load var(--zero-load-time) ease;
    transition: ease .25s;
}
.fixed-footer {
    max-width: 1200px;
    padding: .125rem 1.2rem;
    padding-bottom: calc(.125rem + 0px);
    margin: auto;
}
.fixed-footer a,
.fixed-footer p {
    font: 350 14px inter, sans-serif;
    color: #323232;
    transition: ease .25s;
}
.fixed-footer a:hover {
    color: #0179ff;
    transition: ease .25s;
}
.fixed-footer .current {
    color: #777777;
    transition: ease .25s;
}
.fixed-footer .current:hover {
    color: #777777;
    transition: ease .25s;
}
.lower {
    font-size: 12px;
}
.early {
    color: transparent;
}

@media all and (max-width: 480px) {
    .match-box {
        width: 18rem;
    }
    .match-stick {
        width: 2rem; 
    }
    .design p {
        font: 12px
    }
    footer {
        border-top: .5px solid #999999;
    }
    .fixed-footer a,
    .fixed-footer p {
        font: 12px;
    }
}

@media all and (max-width: 360px) {
    .match-box {
        width: 12rem;
    }
}